.county
{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.county span.first
{
    padding-left: 12px;
    border-radius: 4px 0px 0px 4px;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
}
.county span.last
{
    border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
}

.county > span
{
    display: inline-block;
    height: 48px;
    font-family: Arial;
    font-weight: bold;
    font-size: 60px;
    line-height: 72px;
    position: relative;
    overflow: hidden;
    padding-right: 12px;
}

.county-days-wrapper, .county-hours-wrapper, .county-minutes-wrapper, .county-seconds-wrapper
{
    overflow: hidden !important;
    position: relative !important;
    height: 72px !important;
    display: inline-block !important;
    padding-left: 12px;
}
.county > span > span
{
    display: block;
}
.county-label-days, .county-label-hours, .county-label-minutes, .county-label-seconds
{
    font-size: 12px !important;
    line-height: 18px !important;
    height: 18px !important;
    text-align: center !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-top: 12px;
    background-color: transparent !important;
}

.clear
{
    clear: both;
}
/*gray*/

.county.gray .county-days-wrapper, .county.gray .county-hours-wrapper, .county.gray .county-minutes-wrapper, .county.gray .county-seconds-wrapper
{
    color: Gray;
    background: #E0E0E0;
    background: -moz-linear-gradient(top,  #E0E0E0 0%, #E0E0E0 20%, #FAFAFA 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E0E0E0), color-stop(20%,#E0E0E0), color-stop(100%,#FAFAFA));
    background: -webkit-linear-gradient(top,  #E0E0E0 0%,#E0E0E0 20%,#FAFAFA 100%);
    background: -o-linear-gradient(top,  #E0E0E0 0%,#E0E0E0 20%,#FAFAFA 100%);
    background: -ms-linear-gradient(top,  #E0E0E0 0%,#E0E0E0 20%,#FAFAFA 100%);
    background: linear-gradient(to bottom,  #E0E0E0 0%,#E0E0E0 20%,#FAFAFA 100%);
    border-top: solid 1px #FAFAFA;
    border-bottom: solid 1px #FAFAFA;
}

.county.gray .county-seconds-wrapper {
color: Orange;
}

.county.gray .county-label-days, .county.gray .county-label-hours, .county.gray .county-label-minutes, .county.gray .county-label-seconds
{
    color: Gray;
}
.county.gray span.separator-left
{
    border-left: solid 1px #FAFAFA;
}
.county.gray span.separator-right
{
    border-right: solid 1px #FAFAFA;
}


